:root {
  --font-monospace: Menlo, SFMono-Regular, Consolas, 'Roboto Mono', monospace;
  --text-editor: var(--font-monospace);
  --text-preview: var(--text-editor);
}

.is-live-preview.markdown-source-view .list-bullet:after {
  top: -1px;
}

.cm-s-obsidian span.cm-inline-code,
.markdown-preview-view code {
  font-size: 97%;
}

.cm-s-obsidian
  .cm-line:not(.cm-active)
  span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
  padding: 0 4px;
  border-radius: 3px;
}
