/*

Rose by @itsjonq

*/

/*
== System: Colors ==
*/
:root {
  --system-brand-rgb: 236, 64, 122;
  --system-brand-alpha: 0.5;
  --system-brand: rgba(var(--system-brand-rgb), var(--system-brand-alpha));

  --text-normal: black;
  --text-heading: var(--text-normal, black);

  --ui-link-background: rgba(
    var(--system-brand-rgb),
    var(--system-brand-alpha)
  );
}

body.theme-light,
body.theme-dark {
  --text-accent: var(--enhanced-link-color);
  --text-accent-hover: var(--text-accent);
  --text-selection: rgba(var(--system-brand-rgb), 0.1);
}

body.theme-light {
  --ui-link-background: rgba(
    var(--system-brand-rgb),
    var(--system-brand-alpha)
  );
}

body.theme-dark {
  --system-brand-alpha: 0.6;
  --system-brand: rgba(var(--system-brand-rgb), var(--system-brand-alpha));

  --interactive-accent: var(--system-brand);
  --interactive-accent-hover: var(--system-brand);

  --ui-link-background: rgba(
    var(--system-brand-rgb),
    var(--system-brand-alpha)
  );
}

.workspace-leaf.mod-active .view-header-title,
.markdown-preview-view h1,
.HyperMD-header-1,
.cm-s-obsidian .cm-header-1,
.markdown-preview-view h2,
.HyperMD-header-2,
.cm-s-obsidian .cm-header-2,
.markdown-preview-view h3,
.HyperMD-header-3,
.cm-s-obsidian .cm-header-3,
.markdown-preview-view h4,
.HyperMD-header-4,
.cm-s-obsidian .cm-header-4,
.markdown-preview-view h5,
.HyperMD-header-5,
.cm-s-obsidian .cm-header-5,
.markdown-preview-view h6,
.HyperMD-header-6,
.cm-s-obsidian .cm-header-6 {
  color: var(--text-heading);
}

.cm-s-obsidian span.cm-inline-code,
.markdown-preview-view code {
  --font-code: 0.85em;
}

body.theme-light .cm-s-obsidian span.cm-inline-code,
body.theme-light .markdown-preview-view code {
  --ui-code-background: rgb(var(--system-brand-rgb), 0.1);
  color: rgb(var(--system-brand-rgb));
}

body.theme-dark .cm-s-obsidian span.cm-inline-code,
body.theme-dark .markdown-preview-view code {
  --ui-code-background: rgb(var(--system-brand-rgb), 0.1);
  color: rgb(var(--system-brand-rgb));
}

body.theme-light .cm-s-obsidian span.cm-formatting-code.cm-inline-code {
  color: rgba(155, 155, 155, 0.3);
}
body.theme-dark .cm-s-obsidian span.cm-formatting-code.cm-inline-code {
  color: rgba(155, 155, 155, 0.2);
}

.HyperMD-codeblock-bg {
  --background-secondary: transparent;
}

.cm-s-obsidian span.cm-hmd-internal-link {
  color: var(--text-normal);
}

.is-live-preview.markdown-source-view.mod-cm6
  .task-list-item-checkbox[type='checkbox']:checked {
  background-color: var(--system-brand) !important;
  border-color: var(--system-brand) !important;
}

.markdown-source-view.mod-cm6 .cm-underline {
  text-decoration: none;
}
